/* MARK: smooth transition */
*
{
    transition: background-color 0.4s ease, color 0.4s ease;
}

/* MARK: page scroll margin */
#section1, #section2, #section3, #section4
{
    scroll-margin-top: 9vh;
}

/* MARK: button shadow */
.navbar-toggler:focus
{
    box-shadow: none !important;
    outline: none !important;
}

/* MARK: text color */
.accent-text-red
{
    color: #fc535c;
    display: inline;
}

/* MARK: text color */
.accent-text-green
{
    color: #35ca6b;
    display: inline;
}
